<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/css/index.css">
    <style>
        .container{
            display: flex;
            flex-direction: column;
        }
        nav ul{
            margin-right: 50px;
        }
    </style>
    <title>Checkout</title>
</head>
<body>
    <div class="container">
        <nav>
            <img src="/images/logo.png" alt="logo">
            <ul>
                <a href="/shoes"><li>Home</li></a>
                <a href="#contactForm"><li>Contact</li></a>
            </ul>
        </nav>

        <section class="main-section">
            <div class="bag-section">
                <div class="shop-bag-headers">
                    <h2>Shopping Cart</h2>
                    <button class="empty-bag"><i class="fa-solid fa-trash-can"></i>&nbsp;Empty cart</button>
                </div>
                <div class="cart-items-container">
                    <div class="cart-header">
                        <div class="cart-column">Product</div>
                        <div class="cart-column">Price</div>
                        <div class="cart-column">Quantity</div>
                        <div class="cart-column">Total</div>
                    </div>
                    {{#each shoes}}
                        <div class="cart-shoe" data-item="{{id}}">
                            <div class="shoe-image" >
                                <img src="{{img_url}}" alt="{{brand}}" class="product-img">
                                <h4 class="brandname">{{brand}} - <span class="product-color">{{color}}</span></h4>
                            </div>
                            <div class="shoe-details">
                                <p class="cart-price">R {{price}}</p>
                                <div class="cart-quantity">
                                    <button class="minus" data-subtract="{{id}}">-</button>
                                        <p class="quantity">{{quantity}}</p>
                                    <button class="add" data-add="{{id}}">+</button>
                                </div>
                                <p class="cart-total">R {{total}}</p>
                            </div>
                            <div>
                                <button class="btn-remove" data-remove="{{id}}"><i class="fa-solid fa-trash"></i></button>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>

            <div class="summary-section">
                <h2>Order Summary</h2>
                <div class="totals">
                    <div class="sub-total">
                        <p>Subtotal</p>
                        <p class="subTotal"></p>
                    </div>
                    <div class="shipping">
                        <p>Shipping</p>
                        <p>Free</p>
                    </div>
                    <div class="grand-total">
                        <p>Total</p>
                        <p class="grandTotal"></p>
                    </div>
                </div>
                <a class="checkout-btn" href="/shoes/cart/pay">CHECKOUT</a>
            </div>
        </section>

        <footer class="custom-footer">
            <div class="custom-container">
              <div class="row">
                <div>
                  <h4>Contact Us</h4>
                  <form class="custom-form" id="contactForm" action="contact.php" method="POST">
                    <input type="text" name="name" placeholder="Your Name" required>
                    <input type="email" name="email" placeholder="Your Email" required>
                    <textarea name="message" placeholder="Your Message" required></textarea>
                    <button type="submit">Send Message</button>
                  </form>
                </div>
                <div>
                  <h4>Follow Us</h4>
                  <ul class="custom-social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="row">
                <div>
                  <p>&copy; 2023 Exclusive Wear. All rights reserved.</p>
                </div>
              </div>
            </div>
        </footer>
    </div>
</body>
<script src="https://kit.fontawesome.com/0dc0e0665a.js" crossorigin="anonymous"></script>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        let grandTotalEl = document.querySelector('.grandTotal');
        let subTotalEl = document.querySelector('.subTotal');
        let cartContainer = document.querySelector('.cart-items-container');
        const minusBtns = document.querySelectorAll('.minus');
        const addBtns = document.querySelectorAll('.add');
        const removeBtns = document.querySelectorAll('.btn-remove');
        const clearCartBtn = document.querySelector('.empty-bag');

        addBtns.forEach(btn => {
            btn.addEventListener('click', function(event){
                let addBtn = btn.dataset.add;

                axios.post(`/api/cart/add/${addBtn}`)
                .then(response => {
                    
                    axios.get('/api/cart/shoes/get')
                    .then( response => {
                        let total = response.data.total;

                        grandTotalEl.innerHTML = 'R ' + total;
                        subTotalEl.innerHTML = 'R ' + total;

                        let shoes = response.data.data;

                        let cartShoe = document.querySelector(`[data-item="${addBtn}"]`);
                        let quantityEl = cartShoe.querySelector('.quantity');
                        let totalEl = cartShoe.querySelector('.cart-total');

                        shoes.forEach(shoe => {
                            if(shoe.id === parseInt(addBtn)){
                                quantityEl.innerHTML =  shoe.quantity;
                                totalEl.innerHTML = 'R ' + shoe.total;
                            }
                        })
                    })
                    .catch(function(error) {
                        console.error('Error:', error);
                    });
                    
                })
                .catch(function(error) {
                    console.error('Error:', error);
                });
            });
        });


        minusBtns.forEach(btn => {
            btn.addEventListener('click', (event) => {
                console.log('minus btn clicked');
                
                let minusBtn = btn.dataset.subtract;

                axios.post(`/api/cart/quantity/reduce/${minusBtn}`)
                .then(response => {

                    axios.get('/api/cart/shoes/get')
                    .then( response => {
                        let total = response.data.total;

                        grandTotalEl.innerHTML = 'R ' + total;
                        subTotalEl.innerHTML = 'R ' + total;

                        let shoes = response.data.data;

                        let cartShoe = document.querySelector(`[data-item="${minusBtn}"]`);
                        let quantityEl = cartShoe.querySelector('.quantity');
                        let totalEl = cartShoe.querySelector('.cart-total');

                        shoes.forEach(shoe => {
                            if(shoe.id === parseInt(minusBtn)){
                                quantityEl.innerHTML =  shoe.quantity;
                                totalEl.innerHTML = 'R ' + shoe.total;
                            }
                        })
                    })
                    .catch(function(error) {
                        console.error('Error:', error);
                    });
                })
                .catch(function(error) {
                    console.log('Error:', error);
                });

            })
        })


        removeBtns.forEach(btn => {
            btn.addEventListener('click', (event) => {
                let shoeid = btn.dataset.remove;
                console.log(shoeid);

                axios.post(`/api/cart/remove/${shoeid}`)
                .then(response => {
                    axios.get('/api/cart/shoes/get')
                    .then(response => {
                        let total = response.data.total;

                        grandTotalEl.innerHTML = 'R ' + total;
                        subTotalEl.innerHTML = 'R ' + total;

                        let shoes = response.data.data;

                        let product = document.querySelector(`[data-item="${shoeid}"]`);
                        product.innerHTML = '';
                
                    })
                    .catch(function(error) {
                        console.error('Error:', error);
                    });

                })
                .catch(function(error) {
                    console.log('Error: ' + error);
                });
            });
        });

        clearCartBtn.addEventListener('click', ()=>{
            const userConfirm = window.confirm('Are you sure you want to clear the cart?');

            if(userConfirm){
                axios.post('/api/cart/clear/all')
                .then(response => {
                    console.log(response.data);

                    axios.get('/api/cart/shoes/get')
                    .then( response => {
                        if(response.data.data.length === 0){
                            cartContainer.innerHTML = 'Shopping bag is empty!'
                            
                        }

                        let total = response.data.total;

                        grandTotalEl.innerHTML = 'R ' + total;
                        subTotalEl.innerHTML = 'R ' + total;
                    })
                    .catch(function(error) {
                        console.error('Error:', error);
                    });

                })
                .catch(function(error){
                    console.log('Error', error);
                })
            }

        });


        axios.get('/api/cart/shoes/get')
        .then( response => {
            if(response.data.data.length === 0){
                cartContainer.innerHTML = 'Shopping bag is empty!'
            }
            
            let total = response.data.total;

            grandTotalEl.innerHTML = 'R ' + total.toFixed(2);
            subTotalEl.innerHTML = 'R ' + total.toFixed(2);
        })
        .catch(function(error) {
            console.error('Error:', error);
        });
    }); 
</script>
</html>