<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/css/index.css">
    <title>Shoe Catalogue</title>
</head>
<body>
    <div class="container">
        <nav>
            <img src="/images/logo.png" alt="logo">
            <ul>
                <a href="#home"><li>home</li></a>
                <a href="#main"><li>shop all</li></a>
                <a href="#contactForm"><li>contact</li></a>
            </ul>
            <div class="right-nav">
                <div class="user-p">
                    <i class="fa-regular fa-user"></i>
                    <span>{{name}}</span>
                </div>
                <a href="/logout">Logout</a>
                <a href="/shoe/checkout" class="bag">
                    <i class="fa-sharp fa-solid fa-bag-shopping fa-xl"></i>
                    <span class="cart-items"></span>
                </a>
            </div>
        </nav>

        <header id="home">
            <img src="/images/hdshoe1.jpg" alt="orangeshoe">
            <section>
                <h1>Exclusive Shoes For All Indivuduals</h1>
                <p>Step into Shoe Store, your gateway to stylish footwear. Explore our curated collection of trendy, comfortable shoes for all occasions. Find the perfect pair, from elegant heels to casual sneakers. Start your fashionable journey today.</p>
                <a href="#main">Shop Collection</a>
            </section>
            <img src="/images/hdshoe2.jpg" alt="whiteshoe">
        </header>

        <div class="main" id="main">
            <h1>Shoe Catalogue</h1>
            <form action="" id="filter-form">
                <div class="dropdowns">
                    <label for="color-dropdown">Color:</label>
                    <select id="color-dropdown" name="colors">
                        <option value="">All colors</option>
                        <option value="white">White</option>
                        <option value="blue">Blue</option>
                        <option value="green">Green</option>
                        <option value="pink">Pink</option>
                        <option value="red">Red</option>
                        <option value="black">Black</option>
                        <option value="orange">Orange</option>
                        <option value="brown">Brown</option>
                    </select>
        
                    <label for="size-dropdown">Size:</label>
                    <select id="size-dropdown" name="sizes">
                        <option value="">All sizes</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
        
                    <label for="brand-dropdown">Brand:</label>
                    <select id="brand-dropdown" name="brands">
                        <option value="">All brands</option>
                        <option value="Nike">Nike</option>
                        <option value="Adidas">Adidas</option>
                        <option value="Puma">Puma</option>
                        <option value="New Balance">New Balance</option>
                        <option value="Reebok">Reebok</option>
                    </select>
                </div>

                <button class="search-btn">Search</button>
            </form>
            
            <p class="stock-p"></p>

            <div class="shoes-container">
               {{#each shoes}}
                    <div class="shoe">
                        <img src={{img_url}} alt={{brand}}>
                        <h4>{{brand}} - <span>{{color}}</span></h4>
                        <p class="price">R {{price}}</p>
                        <div class="details">
                            <p class="size">Size: <span>{{size}}</span></p>
                            <p class="stock">In stock: <span>{{in_stock}}</span></p>
                        </div>
                        <button class="add-to-cart" data-shoeid="{{id}}">Add to Cart</button>
                    </div>
                {{/each}}
            </div>
        </div>
        
        <footer class="custom-footer">
            <div class="custom-container">
              <div class="row">
                <div>
                  <h4>Contact Us</h4>
                  <form class="custom-form" id="contactForm" action="contact.php" method="POST">
                    <input type="text" name="name" placeholder="Your Name" required>
                    <input type="email" name="email" placeholder="Your Email" required>
                    <textarea name="message" placeholder="Your Message" required></textarea>
                    <button type="submit">Send Message</button>
                  </form>
                </div>
                <div>
                  <h4>Follow Us</h4>
                  <ul class="custom-social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="row">
                <div>
                  <p>&copy; 2023 Exclusive Wear. All rights reserved.</p>
                </div>
              </div>
            </div>
        </footer>        
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const form = document.getElementById('filter-form');
            const shoesContainer = document.querySelector('.shoes-container');
            const itemsCountEl = document.querySelector('.cart-items');

            form.addEventListener('submit', function(event) {
                event.preventDefault();

                let color = document.getElementById('color-dropdown').value;
                let size = document.getElementById('size-dropdown').value;
                let brand = document.getElementById('brand-dropdown').value;

                brand = brand.toLowerCase();

                axios.get('/api/shoes')
                    .then(function(response) {
                        const shoes = response.data.data;

                        const filteredShoes = shoes.filter(shoe => {
                            return (
                                (brand === '' || shoe.brand === brand) &&
                                (color === '' || shoe.color === color) &&
                                (size === '' || shoe.size === parseInt(size))
                            );
                        });

                        shoesContainer.innerHTML = '';

                        filteredShoes.forEach(function(shoe) {
                            const shoeElement = document.createElement('div');
                            shoeElement.classList.add('shoe');

                            shoeElement.innerHTML = `
                                <img src="${shoe.img_url}" alt="${shoe.brand}">
                                <h4>${shoe.brand} - <span>${shoe.color}</span></h4>
                                <p class="price">R ${shoe.price}</p>
                                <div class="details">
                                    <p class="size">Size: <span>${shoe.size}</span></p>
                                    <p class="stock">In stock: <span>${shoe.in_stock}</span></p>
                                </div>
                                <button class="add-to-cart" data-shoeid="${shoe.id}">Add to Cart</button>
                            `;

                            shoesContainer.appendChild(shoeElement);
                        });

                        if(filteredShoes.length === 0){
                            document.querySelector('.shoes-container').innerHTML = 'Items not available in stock';
                        }   
                        
                    })
                    .catch(function(error) {
                        console.error('Error:', error);
                    });
            });

            shoesContainer.addEventListener('click', function(event) {
                if (event.target.classList.contains('add-to-cart')) {
                    const shoeId = event.target.dataset.shoeid;

                    axios.post(`/api/cart/add/${shoeId}`)
                    .then(function(response) {
                        axios.get('/api/cart/shoes/get')
                        .then(response =>{
                            let itemsCount = response.data.data.length;

                            itemsCountEl.innerHTML = itemsCount;
                        })
                        .catch(error => {
                            console.log('Error:', error);
                        })
                    })
                    .catch(function(error) {
                        console.error('Error:', error);
                    });
                }
            });

            axios.get('/api/cart/shoes/get')
            .then(response =>{
                let itemsCount = response.data.data.length;

                itemsCountEl.innerHTML = itemsCount;
            })
            .catch(error => {
                console.log('Error:', error);
            })

        });
    </script>

{{!-- 
    <script src="/javascript/shoe-catalogue.js"></script>
    <script src="https://unpkg.com/alpinejs" defer></script> --}}
    <script src="https://kit.fontawesome.com/0dc0e0665a.js" crossorigin="anonymous"></script>
</body>
</html>